In [1]:
import sqlite3

#pulled from https://pynative.com/python-sqlite/
try:
    sqliteConnection = sqlite3.connect('sqlite_db_pythonsqlite.db')
    cursor = sqliteConnection.cursor()
    print("Database created and Successfully Connected to SQLite")

except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)

Database created and Successfully Connected to SQLite

In [2]:
#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members!

query1 = """
    SELECT sub.name, SUM(sub.revenue) AS total_rev
    FROM (
        SELECT b.facid, f.name,
            CASE WHEN b.memid = 0 THEN b.slots*f.guestcost
            ELSE b.slots*f.membercost END AS revenue
        FROM `Bookings` AS b
        INNER JOIN `Facilities` AS f
        ON b.facid = f.facid
    ) AS sub
    GROUP BY sub.name
    HAVING total_rev < 1000
    ORDER BY total_rev DESC;
    """
cursor.execute(query1)
 
rows = cursor.fetchall()
 
for row in rows:
    print(row)

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [3]:
#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

query2 = """
    SELECT *
    FROM(
        SELECT DISTINCT m.surname AS MemLName,
            m.firstname AS MemFName,
            r.surname AS RecoLName,
            r.firstname AS RecoFName
            FROM `Members` AS m
            LEFT JOIN `Members` AS r
            ON m.recommendedby = r.memid
        ) AS sub
    WHERE sub.MemLName NOT LIKE 'GUEST'
    ORDER BY sub.MemLName, sub.MemFName;
    """
cursor.execute(query2)
 
rows = cursor.fetchall()
 
for row in rows:
    print(row)

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [4]:
#Q12: Find the facilities with their usage by member, but not guests

query3 = """
    SELECT f.name, SUM(b.slots) AS slotsbooked
    FROM `Bookings` AS b
    LEFT JOIN `Facilities` As f
    ON b.facid = f.facid
    WHERE b.memid != 0
    GROUP BY f.name
    ORDER BY slotsbooked DESC;
    """
cursor.execute(query3)
 
rows = cursor.fetchall()
 
for row in rows:
    print(row)

('Badminton Court', 1086)
('Tennis Court 1', 957)
('Massage Room 1', 884)
('Tennis Court 2', 882)
('Snooker Table', 860)
('Pool Table', 856)
('Table Tennis', 794)
('Squash Court', 418)
('Massage Room 2', 54)

In [5]:
#Q13: Find the facilities usage by month, but not guests

query4 = """
    SELECT f.name, strftime('%m', starttime), SUM(b.slots) AS slotsbooked
    FROM `Bookings` AS b
    LEFT JOIN `Facilities` As f
    ON b.facid = f.facid
    WHERE b.memid != 0
    GROUP BY f.name, strftime('%m', starttime)
    ORDER BY f.name;
    """
cursor.execute(query4)
 
rows = cursor.fetchall()
 
for row in rows:
    print(row)

('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)

In [6]:
if sqliteConnection:
    sqliteConnection.close()
    print("The SQLite connection is closed")

The SQLite connection is closed